* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body{
    color: aliceblue;
    background-color: rgb(7, 4, 18);;
}

/*                                 NAVBAR_SECTION                                           */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.logo img {
    width: 3.75rem;
    height: 3.75rem;
    object-fit: contain;
  }
  
.navbar a {
    display: inline-block;
   font-size: 18px;
   color: hsl(0, 0%, 73%);
   text-decoration: none;
   font-weight: 500;
   margin-left: 35px;
   transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #ffde14;
}

 /*                                * HOME PAGE STYLES *                        */ 

.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-image: url("./assets/homebg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

  .home-content {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
  }
  
  .home-shape {
    display: flex;
    margin-left: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.625rem;
  }
  
  .home-shape .dot {
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 50%;
    background-color: #e7ff5e;
  }
  
  .home-shape .line {
    width: 1px;
    height: 10rem;
    background: linear-gradient(to bottom, #ffde14, #ffde14);
  }
  
  .home-text {
     color: #fff;
  }
  
  .home-head-text {
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.5;
  }
  
  .home-head-text span {
    color: #ffde14;
  }
  
  .home-sub-text {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 0.5rem;
  }
  
  .home-navigation {
    position: absolute;
    bottom: 3.125rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-navigation-link {
    width: 1.5625rem;
    height: 3.75rem;
    border-radius: 1.875rem;
    border: 0.125rem solid aliceblue;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
  }
  
  .home-navigation-link:hover {
    border: #ffde14 2px solid;
    box-shadow: #ffde14 15px;
  }
  
  .home-navigation-link .dot-animation {
    width: 0.4125rem;
    height: 0.4125rem;
    border-radius: 50%;
    background-color: rgb(252, 255, 240);
    box-shadow: aliceblue 20px;
  }
  /* social-media */
.social-media a{
  position: relative;
  z-index: 9999;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #ffde14;;
  border-radius: 50%;
  font-size: 20px;
  color:#ffde14; ;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: .5s ease;
}
.social-media a:hover{
  background:#ffde14;;
  color: #1f242d;
  box-shadow:  0 0 20px #ffde14;;
}

 /*                                * ABOUT PAGE STYLES *                        */ 

.about-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
}

.about-content{
  padding-left: 10px;
}
.service-card-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* CARD */
.card {
  width: 200px;
  margin-left: 20px;
}
.card-content {
  width: 100%;
  padding: 1px;
  border-radius: 20px;
}

.card-options {
  border: #4a396cd8 1px solid;
  background-color: #1b0e3be2;
  box-shadow: 0 2px 4px #4a396cd8;
  padding-top: 1.25rem;
  border-radius: 20px;
  padding-bottom: 1.25rem;
  padding-left: 3rem;
  padding-right: 3rem;
  min-height: 230px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.card-logo {
  width: 70px;
  height: 60px;
  object-fit: contain;
}

.card-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

 /*                              * TECH STACK/EXPERIENCE PAGE STYLES *                        */ 

.experience-container {
  position: relative;
  width: 800px;
  padding-top: 90px;
  margin: 0 auto;
}

.experience-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  color: white;
  
}

.tech-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  text-align: center;
  padding-top: 32px;
}

.tech-grid  img{
  width: 60px;
  height: 60px;
  padding-bottom: 10px;
}

.orange-shadow {
  box-shadow: 0 2px 4px rgba(243, 102, 25, 0.6);
  padding: 10px;
}

.blue-shadow {
  box-shadow: 0 2px 4px rgba(66, 153, 225, 0.6);
  padding: 10px;
}

.yellow-shadow {
  box-shadow: 0 2px 4px rgba(251, 191, 36, 0.6);
  padding: 10px;
}

.blue-light-shadow {
  box-shadow: 0 2px 4px rgba(33, 150, 243, 0.6);
  padding: 10px;
}

.sky-shadow {
  box-shadow: 0 2px 4px rgba(114, 216, 255, 0.6);
  padding: 10px;
}

.white-shadow {
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.6);
  padding: 10px;
}

.voilet-shadow {
  box-shadow: 0 2px 4px #4f09e6;
  padding: 10px;
}

.gray-shadow {
  box-shadow: 0 2px 4px rgba(156, 163, 175, 0.6);
  padding: 10px;
}

.green-shadow {
  box-shadow: 0 2px 4px rgba(5, 212, 32, 0.6);
  padding: 10px;
}

@media (min-width: 640px) {
  .tech-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

 /*                              * PROJECTS PAGE STYLES *                              */ 

/* PROJECT SECTION */
.project_section{
  display: flex;
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  flex-direction: column;
   padding-top: 90px;
}

.projects-container {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.project_content{
  padding-left: 10px;
}

/* PROJECT CARD */
.project-card {
  position: relative;
  padding: 10px;
  border-radius: 20px;
  width: 233px;
  margin: 10px;
  border-radius: 20px;
  background: transparent;
  border: 0.02rem solid rgba(79, 9, 230, 1);
  box-shadow:0 2px 4px rgba(79, 9, 230, 1);
  /* box-shadow: 0 2px 4px #662edf; */
  /* box-shadow: 0 2px 4px rgba(243, 102, 25, 0.6); */
}

.project-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  border: 1px rgb(195, 200, 201) solid;
}

.github_img {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 10px;
}

.github_img a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #16063a;
  border-radius: 50%;
  font-size: 20px;
  color:#ffde14; ;
  text-decoration: none;
  transition: .5s ease;
}
.github_img a:hover{
  background:#ffde14;;
  color: #1f242d;
  box-shadow: 0 0 20px #ffde14;;
}

.project-name {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  padding-top: 10px;
}

.project-description {
  margin-top: 10px;
  color:hsl(0, 0%, 73%);
  font-size: 13px;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 10px 0 10px;
  font-size: 10px;
}
.project-tag { font-size: 14px }
.primary { color: #ff5252  }
.secondary { color: #3f51b5 }
.tertiary { color: #f9a825 }

 /*                                * CONTACT PAGE STYLES *                                      */ 

.contact_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width:800px;
  height: 100vh;
  padding-top: 90px;
  margin: 0 auto;
}

.form-container {
  display: flex;
  position: relative;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  background-color: #11042cd8;
  box-shadow: 0 2px 4px #060110d8;
  content: wrap;
}

.section-subtext {
  color: #999;
  font-weight: 500;
}

.section-headtext {
  color: #fff;
  font-size: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  padding: 20px;
  justify-content: center;
  width: 300px;
}

.form-label {
  display: flex;
  flex-direction: column;
}

.label-text {
  color: #fff;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.form-input {
  background-color: #221441;
  padding: 1rem;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  font-weight: 500;
}

.form-input::placeholder {
  color: #999;
}

.form-button {
  background-color: #221441;
  padding: 0.75rem 1rem;
  color: #fff;
  border: none;
  border-radius: 1rem;
  outline: none;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.form-button:hover {
  background-color: #0a0224;
}

/* TO ADD THE STAR BACKGROUND IN CONTACT PAGE */
.contact-wrapper {
  position: relative;
  z-index: 0;
  background-color: transparent;
}
.contact-wrapper > * {
  position: relative;
  z-index: 1;
}
/* START PAGE STYLE */
.stars-canvas-wrapper {
  width: 100%;
  height: auto;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.stars-canvas {
  width: 100%;
  height: 100%;
}

/* EARTH PAGE STYLE */
@media (min-width: 1280px) {
  .flex-1 {
    flex: 1;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .auto-height {
    height: auto;
  }
}
@media (min-width: 768px) {
  .medium-height {
    height: 550px;
  }
}

.fixed-height {
  height: 100vh;
}

/* REUSABLE CLASSES */
.heading{
  color: #ffde14;
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  padding-top: 2px;
}

.heading-subtext{
  color:hsl(0, 0%, 73%);
  font-family: "Playfair Display", serif;
  font-weight: 600;
  line-height: 1.4;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.discription{
  font-size: 18px;
  color:hsl(0, 0%, 73%);
  padding-top: 15px;
  line-height: 1.2;
  padding-bottom: 10px;
}

