

/* CONTACT PAGE */
@media (max-width: 768px) {
    .contact_section {
    flex-direction: column;
      padding-top: 50px;
      align-items: center;
      justify-content: center;
      margin: 20px;
    }
    .form-container {
      margin-left: 0;
      width: 100%;
    }
    .form {
      width: 100% 
    }
  }
  
  /* PROJECT PAGE */
  @media (max-width: 768px) {
    .project_section{
      align-items: center;
      justify-content: center;
      margin: 20px;
    }
    .project-card {
      width: calc(100% - 20px);
      margin: 10px 0;
    }
    .project-image {
        width: 100%;
        height: auto;
      }
  }
  
  /* ABOUT PAGE */

  @media (max-width: 768px) {
    .about-container {
      padding-top: 60px;
      align-items: center;
      justify-content: center;
      margin: 20px;
    }
  
    .service-card-container {
      gap: 20px;
      justify-content: center;
    }
  
    .card {
      width: 100%;
      margin-left: 0;
    }
  }
  
  /* HOME PAGE  */
@media (max-width: 767px) {
    .header {
      padding: 20px 5%;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
      }
     .navbar a:not(:first-child):not(:last-child) {  display: none }
    .logo img {
      width: 2.5rem;
      height: 2.5rem;
    }
    
    .navbar a {
      font-size: 16px;
      margin-left: 20px;
    }
    
    .home-content {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
    
    .home-shape {
      margin-left: 0;
    }
    
    .home-shape .line {
      width: 10rem;
      height: 1px;
    }
    
    .home-text {
      text-align: center;
    }
    
    .home_buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
      }

      .home_buttons a {
      font-size: 0.6rem;
      border-bottom: none;
      }
    
    .home-head-text {
      font-size: 2rem;
    }
    
    .home-sub-text {
      font-size: 1.2rem;
      margin-top: 0.25rem;
    }
    
    .home-navigation {
      bottom: 2rem;
    }
    
    .home-navigation-link {
      width: 1.25rem;
      height: 2.5rem;
    }
    
    .home-navigation-link .dot-animation {
      width: 0.3rem;
      height: 0.3rem;
    }
    
    .social-media a {
      width: 30px;
      height: 30px;
      font-size: 16px;
      margin: 15px 10px 15px 0;
    }
}

